// KitapListesi.sass

.kitap-listesi-container
  margin: 0 auto
  padding: 20px
  border: 1px solid #ddd
  border-radius: 5px
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
  background-color: #fff

  .kitap-table
    width: 100%
    border-collapse: collapse

    th, td
      padding: 10px
      text-align: left
      border-bottom: 1px solid #ddd
      cursor: pointer

    th
      background-color: #f2f2f2

    tr:hover
      background-color: #f9f9f9
